<h1>Welcome to <%= @user.username %>'s Page!</h1>
<h3>Rackets reviewed by <%= @user.username %>: </h3>
<ul>
    <% @user.reviews.each do |r|%>
        <li> 
        <%= r.racket.brand.name%> <%= r.racket.racket_name%> - <%= link_to r.title, review_path(r)%> 
        <br>
        <% if r.image.attached?%>
        <%= image_tag url_for(r.image)%> 
        <%end%>
        <br>
        Submitted on <%=r.created_at.strftime("%m/%d/%Y")%>
        <br><br> 
        </li>
    <%end%>
</ul>

<h3><%=@user.username%>'s Comments: </h3>
<ul>
    <% @user.comments.each do |c|%>
        <li>
        Review: <%= c.review.title%> - <%=@user.username%> said "<%=c.content%>" 
        <%= link_to "Edit this comment", edit_comment_path(c)%>
        </li>
    <%end%>

</ul>