<%= render partial: "layouts/errors", locals: {object: @racket} %>

<%= form_for(@racket) do |f| %>
    
    <div>
    <%= f.label :racket_name %>
    <%= f.text_field :racket_name %>
    </div>
    <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
    </div>
    <div>
    <%= f.text_field :brand.name, list: "brands_autocomplete" %>
    <datalist id="brands_autocomplete">
        <% Brand.all.each do |brand| %>
            <option value="<%=brand.name %>">
            <%end%>
            </datalist>
    </div>

<br>
    <%= f.submit "Submit" %>
<% end %>
