<h1>All Rackets</h1>

<%= form_with url: "/rackets", method: :get do |form| %>
    <%= form.label :query, "Search for a racket:" %>
    <%= form.text_field :query %>
    <%= form.submit "Search" %>
  <% end %>
  <br>


<ol>
<% @rackets.each do |racket| %>
    <li>
    <b><%= racket.brand.name %> <%= link_to racket.racket_name, racket_path(racket)%>  -  </b> 
    <%= racket.description %> - 
    <% if racket.reviews.count < 1 %>
    Not yet reviewed.
    <%else%>
    <%=racket.reviews.average(:stars).to_i%> stars.
    <%end%>
    <br> 
    <% if racket.image.attached?%>
    <%= image_tag racket.image%> 
    <%end%>
    <br>
    <%= link_to "Write a review", new_racket_review_path(racket.id) %>
    </li>
    <br>
    <br>
    <%end%>
</ol>

