
<% if @racket.image.attached? %>
  <%= image_tag url_for(@racket.image) %>
<% end %>

<h1> <%= @racket.brand.name %> <%= @racket.racket_name %> </h1>
<p> <%= @racket.description%> </p>
<p> Originally added by: <%= @racket.user.username%> on <%=@racket.created_at.strftime("%m/%d/%Y")%></p> 

<%= link_to "Add a new review for this racket", new_racket_review_path(@racket.id) %> | <%= link_to "Edit this Racket", edit_racket_path(@racket)%> | <%= link_to "See all reviews for this racket", racket_reviews_path(@racket) %>





