<h1> <%= @racket.brand.name %> <%= @racket.racket_name %> </h1>
<p> <%= @racket.description%> </p>
<p> Originally added by: <%= @racket.user.username%> on <%=@racket.created_at.strftime("%m/%d/%Y")%></p>

<%= link_to "See all reviews for this racket", racket_reviews_path(@racket) %>





