<%= display_header(@review)%>

<% if params[:racket_id] && @review.racket.image.attached? %>
  <%= image_tag url_for(@review.racket.image) %>
<% end %>

<%= render partial: "layouts/errors", locals: {object: @review} %>

<%= form_for(@review) do |f| %>
    <% if params[:racket_id] %>
        <%= f.hidden_field :racket_id %>
        <% else %>
        <div>
        <%= f.label :racket_id, "Select a Racket" %>
        <%= f.collection_select :racket_id, Racket.order(:racket_name), :id, :brand_and_racket, include_blank: "Select One"%> 
        </div>
        <% end %>
    <div>
    <%= f.label :stars %>
    <%= f.number_field :stars, min:0, max:5 %>
    </div>
    <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
    </div
    <div>
    <%= f.label :content %>
    <%= f.text_area :content, size: "25x10" %>
    </div>
    <div>
    <%= f.label "Add a picture" %>
    <%= f.file_field :image %>
    </div>

   <br>
    <%= f.submit %>
<% end %>
