<% if @review.image.attached? %>
  <%= image_tag @review.image %>
  <%else%>
   <% if @review.racket.image.attached? %>
   <%= image_tag @review.racket.image%>
   <%end%>
<% end %>

<h1><%= @review.racket.brand.name %> <%= @review.racket.racket_name %>: <%= @review.stars %> stars</h1>
<h2><%= @review.title %></h2>
<h3>Submitted by <%=link_to @review.user.username, user_path(@review.user)%> on <%=@review.created_at.strftime("%m/%d/%Y")%></h3> 

<p> <%= @review.content%> </p>

<%if @review.user == current_user%>
    <%=link_to "Edit Review", edit_review_path(@review)%>
<%end%>



<% if !@review.comments.empty? %>

<h4>Latest Review Comments:</h4>
<% @review.comments.order(updated_at: :desc).limit(4).each do |c|%>
    <li>
    <b><%=c.user.username%></b> says "<%=link_to c.content, review_comment_path(@review,c)%>" at <%=c.updated_at.strftime("%I:%M %p on %m/%d/%Y")%>
    </li>
    <%end%>
<%end%>
<p><%= link_to 'Add New Comment', new_review_comment_path(@review)%> | <%=link_to 'View All Comments', review_comments_path(@review)%></p>
